  <div class="container">
  <h2>My Requests</h2>
  <% if @requests.empty? %>
    <div class="text-center mt-3">
      <p>You don't have any requests</p>
    </div>
  <% else %>
    <div class="container">
      <% @requests.each do |request| %>
      <div class="notification">
        <div class="notification-content">
          <p><strong><%= request.user.name %></strong> wants to use your tune <strong><%= request.tune.name %></strong></p>
        </div>

        <div class="notification-actions">
          <%= link_to "Accept", accept_request_path(request), method: :patch, class: 'two_space font-weight-bold', id: :accept %>
          <%= link_to "Reject", reject_request_path(request), method: :patch, class: 'two_space font-weight-bold', id: :reject %>
        </div>
      </div>
      <% end %>
    </div>
  <% end %>
  <h2>My Tunes</h2>
  <% if @tunes.empty? %>
    <div class="text-center mt-3 text-secondary">
      <p>You don't have any tunes</p>
    </div>
    <div class="text-center">
      <a class="btn btn-primary m-3" href="/tunes/new">Create new tune</a>
    </div>
  <% else %>
    <div class="container">
      <% @tunes.each do |tune| %>
        <div class="card-product">
          <div class="card-product-infos">
              <h2><%= tune.name %></h2>
              <p><%= tune.description %></p>
          </div>
          <div class="audio">
            <%= audio_tag(tune.url, controls: true) %>
          </div>
          <div class="controls">
            <%= link_to "Edit", edit_tune_path(tune), class: 'two_space font-weight-bold', id: :accept %>
            <%= link_to "Delete", tune_path(tune), method: :delete, class: 'two_space font-weight-bold', id: :reject %>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
