
<div class="container tunes-container">
  <div class="top_buttons">

    <div class="top_buttons mx-3 my-2">
    <%= form_tag tunes_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control m-1",
        placeholder: "Find a tune"
      %>
      <%= submit_tag "Search", class: "btn btn-secondary m-1" %>
    <% end %>
    </div>
    <div>
        <a class="btn btn-primary m-3" href="/tunes/new">Create new tune</a>
    </div>
  </div>
  <div class="cards">
    <% @tunes.each do |tune| %>
      <div class="card">
        <h3><%= link_to tune.name, tune_path(tune) %></h3>
        <p><%= tune.description %> |
        <% if user_signed_in? %>
          <%= tune.url %>
        <% end %>
      </p>
      <div class="notification-actions">
            <%= link_to "Request", edit_tune_path(tune) %>
            <%= link_to "Play", tune_path(tune), method: :delete %>
      </div>
      </div>
    <% end %>
  </div>

</div>
