
<div class="container tunes-container">


  <div class="cards">
    <% @tunes.each do |tune| %>
      <div class="card">
        <h3><%= link_to tune.name, tune_path(tune) %></h3>
        <p><%= tune.description %> |
        <% if user_signed_in? %>
          <%= tune.url %>
        <% end %>
      </p>
      </div>
    <% end %>
  </div>
  <% if user_signed_in? %>
    <a class="btn btn-secondary m-5" href="/tunes/new">Create new tune</a>
  <% end %>
  <div>
    <%= form_tag tunes_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "form-control",
        placeholder: "Find a tune"
      %>
      <%= submit_tag "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
