<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
          <h2>Create a new exotic tune!</h2>
            <%= simple_form_for @tune do |f| %>
              <%= f.input :name, required: true %>
              <%= f.input :description, as: :text %>
              <%= f.input :music, as: :file, required: true %>
              <%= f.input :url, placeholder: 'https://www.tune.com', required: true %>
              <%= f.submit "Create tune", class: "btn btn-primary"  %>
            <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
